.Rproj.user
.Rhistory
.RData
.Ruserdata
data_analysis_2/gender.zip
data_analysis_2/Gender_StatsCountry-Series.csv
data_analysis_2/Gender_StatsCountry.csv
data_analysis_2/Gender_StatsData.csv
data_analysis_2/Gender_StatsFootNote.csv
data_analysis_2/Gender_StatsSeries-Time.csv
data_analysis_2/Gender_StatsSeries.csv

